<!DOCTYPE html>
<head> </head>
<body>
  <h1>Welcome!</h1>
  <img src="joemama.png" alt="logo" />
  <form submit="#">
    <input type="ID" placeholder="Student ID" /> <br />
    <br />
    <input type="password" placeholder="Password" />
  </form>
  <p>
    Forgot your password?
    <a href="https://erp.gctu.edu.gh/sip/forgot_password.php"> Click here</a>
  </p>
  <p>
    <a href="https://gtuconline.gctu.edu.gh/online/">GCTU Learning Platform</a>
    <a href="https://library.gctu.edu.gh/">Library</a>
    <a href="https://site.gctu.edu.gh/news">News</a>
    <a href="https://site.gctu.edu.gh/undergraduate-programmes">Programmes</a>
  </p>

  <p>Copyright 2025 Software Unit | Msquare | GCTU. All Rights Reserved</p>
</body>
<html></html>
